node_modules/
zigzag.db
*.swp
.env
dist/
tsconfig.tsbuildinfo
.vscode/

# Using yarn, ignore package-lock.json
package-lock.json

# hardhat
evm_contracts/artifacts
evm_contracts/cache
evm_contracts/build-info
